* { /* This makes the font of the whole page default to Roboto */
  font-family: 'Roboto', sans-serif;
  color: rgb(225, 218, 229);
}

body { 
  background-color: rgba(28,25,30);
  display: flex;
  justify-content: center;
}

.main {
  width: 100%;
  height: 100%;
}

.game-title {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.board {
  min-width: 402px;
  min-height: 402px;
  width: 60vw;
  height: 60vw;
  border-top: 1px solid rgba(214, 202, 222, 0.284);
  border-left: 1px solid rgba(214, 202, 222, 0.284);
  margin-left: auto;
  margin-right: auto;
}

.row {
  display: flex;
  flex-direction: row;
}

.cell {
  display: inline-block;
  width: 20vw;
  height: 20vw;
  min-width: 133px;
  min-height: 133px;
  border-right: 1px solid rgba(214, 202, 222, 0.284);
  border-bottom: 1px solid rgba(214, 202, 222, 0.284);
  margin: auto;
  /* box-shadow: inset 0 0 0 1px rgba(214, 202, 222, 0.284); */
}

.occupied-cell {
  width: 0;
  height: 0;
  margin: 50%;
  position: relative;
}